<div class="container">
    <h1>Register</h1>
    <input type="text"
           placeholder="username"
           class="form-control"/>
    <input type="password"
           placeholder="password"
           class="form-control"/>
    <input type="password"
           placeholder="verify password"
           class="form-control"/>
    <a class="btn btn-primary btn-block"
       href="profile.view.client.html">Register</a>
    <a class="btn btn-danger btn-block"
       href="login.view.client.html">Cancel</a>
</div>