<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Edit YouTube Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="My Widget"/>
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text"
                   placeholder="My YouTube Text"/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                   type="url"
                   class="form-control"
                   id="url"
                   placeholder="https://youtu.be/abcdefg">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input ng-model="model.widget.width"
                   type="text"
                   class="form-control"
                   id="width"
                   placeholder="100%"/>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>