<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="widget-container" wam-sortable callback="model.reorderWidgets(start, end)">
    <div ng-repeat="widget in model.widgets">
        <div class="cm-widget">
            <div class="cm-widget-toolbar">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch="widget.type">
                <div ng-switch-when="HEADER">
                    <div ng-switch="widget.size">
                        <div ng-switch-when="1">
                            <h1>{{widget.text}}</h1>
                        </div>
                        <div ng-switch-when="2">
                            <h1>{{widget.text}}</h1>
                        </div>
                        <div ng-switch-when="3">
                            <h1>{{widget.text}}</h1>
                        </div>
                        <div ng-switch-when="4">
                            <h1>{{widget.text}}</h1>
                        </div>
                        <div ng-switch-when="5">
                            <h1>{{widget.text}}</h1>
                        </div>
                        <div ng-switch-when="6">
                            <h1>{{widget.text}}</h1>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="IMAGE">
                    <img ng-src="{{widget.url}}"
                         width="{{widget.width}}">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <div cm-youtube-element>
                        <iframe ng-src="{{model.getYoutubeUrl(widget)}}"
                                frameborder="0"
                                width="{{widget.width}}"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div ng-switch-when="HTML">
                    <div ng-bind-html="model.getHtml(widget)"></div>
                </div>
                <div ng-switch-when="TEXT">
                    <div ng-if="widget.formatted"
                         text-angular ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],['ul','ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"></div>
                    <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                           placeholder="{{widget.placeholder}}"
                           class="form-control"/>
                    <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                              rows="{{widget.rows}}"
                              placeholder="{{widget.placeholder}}"
                              class="form-control">{{widget.text}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>